@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Fira Sans", "sans-serif";
  }
  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full rounded-md p-4 bg-grey pl-12 border border-grey focus:bg-transparent placeholder:text-black;
  }

  .btn-primary {
    @apply w-full text-sm bg-primary text-white p-2 rounded my-1 hover:bg-blue-600;
  }

  .input-icon {
    @apply opacity-50;
  }
  .input-icon {
    @apply absolute left-4 top-1/2 -translate-y-1/2;
  }

  .icon-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-primary;
  }

  .input-label {
    @apply text-xs text-slate-400;
  }
}
